@import "normalize/opinionated";

:root {
  /* Colors */
  --primary1: hsl(328, 80%, 50%);
  --primary2: hsl(328, 80%, 70%);
  --primary3: hsl(328, 70%, 85%);
  --primary4plusplus: hsl(328, 70%, 93%);
  --primary4plus: hsl(328, 70%, 96%);
  --primary4: hsl(328, 70%, 99%);
  --primaryDark: hsl(328, 80%, 20%);
  --primaryHover: hsl(328, 80%, 47%);
  --primaryPressed: hsl(328, 80%, 44%);
  --primary4Hover: hsl(328, 70%, 98%);
  --primary4Pressed: hsl(328, 70%, 97%);
  --secondaryLight: hsl(58, 80%, 70%);
  --secondaryDark: hsl(58, 80%, 32%);
  --link: hsl(223, 60%, 50%);
  --linkVisited: hsl(295, 60%, 50%);
  --primaryGradient: linear-gradient(172.38deg, #e61a86 36.31%, #e0529e 115.99%),
    #e51986;
  --gray1: hsl(240, 25%, 35%);
  --gray2: hsl(240, 15%, 50%);
  --gray3: hsl(240, 5%, 72%);
  --gray4: hsl(240, 5%, 86%);
  --page: white;

  /* Shadows */
  --primaryShadowFilter: drop-shadow(0px 4px 3px rgba(182, 20, 106, 0.25));
  --primaryShadowBox: 0px 4px 4px rgba(182, 20, 106, 0.25);
  --paperShadowHigh: 0px 4px 5px rgba(0, 0, 0, 0.15);
  --paperShadowLow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  /* Sizes */
  --pageWidth: 880px;
  --pageWidthSlim: 480px;

  /* Typography */
  --bodyFontSize: 18px;

  /* Borders */
  --borderRadius: 8px;

  /* Fonts */
  --fontNunito: Nunito, sans-serif;
  --fontRoboto: Roboto, sans-serif;
}

body {
  font-family: var(--fontRoboto);
  font-weight: 400;
  font-size: var(--bodyFontSize);
  color: var(--gray1);
}

a {
  color: var(--link);
}

a:visited {
  color: var(--linkVisited);
}

ul {
  margin-bottom: 0;
}
