.iconButton {
  font-size: var(--bodyFontSize);
  font-family: var(--fontRoboto);
  font-weight: 500;
  padding: 0 18px;
  border-radius: var(--borderRadius);
  border: 1px solid var(--primary1);
  color: var(--primary1);
  text-shadow: 0 0 0 var(--primary1);
  background: none;
  border: none;

  &:hover {
    color: var(--primary2);
  }

  &:active {
    color: var(--primaryPressed);
  }

  &:focus-visible {
    outline-width: 2px;
    outline-color: var(--link);
    outline-style: solid;
  }

  &:disabled {
    color: var(--primary3);
  }

  & svg {
    vertical-align: middle;
  }
}
