.itemContainer {
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-items: center;
  border-bottom: thin var(--primary3) solid;
}

.itemContainer:last-child {
  border-bottom: none;
}

.itemTextContainer {
  flex: 1;
  overflow: auto;
  overflow-wrap: break-word;
  user-select: text;
}

.dragBar {
  outline: thin var(--link) solid;
}

/*
TODO: this is a hack to make it easier for people to copy/paste the final list.
The better solution would be to restructure the page itself so that the list elements
are separate from the action button elements,

Or to create a copy button.
*/
.noSelect {
  -webkit-touch-callout: none;
  user-select: none;
}
